/*
Hoja de estilos de cascada para la plataforma web CDM
Desarrollada por: Ángel Guzmán y Pablo Salazar
17 de noviembre de 2019
*/

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul,ol{
	list-style: none;
}

body{
	font-family: 'raleway';
}

.slideshow{
	width: 100%;
	position: relative;
}

.slider li, ul{
	width: 100%;
}

.slider li{
	overflow: hidden;
}

.slider li img{
	width: 100%;
}

.slider .caption{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 15px 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	color: #fff;
	z-index: 1;
}

.slider h1{
	font-size: 50px;
}

.slider {
	margin-top: 10px;
	font-size: 20px;
}

.left, .right{
	position: absolute;
	top: 0;
	height: 100%;

	display: flex;
	align-items: center;

	color: #fff;
	font-size: 35px;
	cursor: pointer;
	z-index: 2;
}

.left{
	left: 10px;
}

.right{
	right: 10px;
}

@font-face{
	font-family: raleway;
	src: url(../fonts/Raleway-Medium.ttf);
}

.logo {
	width: 40%;
	float: left;
	margin:50px;
	padding: 10px 10px 10px 10px;
}

li{
	display: inline-block;
    font-size: 15px;
    padding: 15px;
    text-align: right;
}

.menu {
	margin:auto;
	float: left;
	text-align: right;
	width: 60%;
	display: flex;
	font-size: 40px;
	color: #1b2a49;
	padding: 10px 10px 10px 10px;
}

.imagenpor{
	width: auto;
	display: flex;
}

#imgp {
	box-sizing: border-box;
	width: 100%;
	padding:0;
	margin:0;
	display: flex;	
}

.portada {

	width: auto;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cbien {
	width: 100%;
	box-sizing: border-box;
}


.bienvenido {
	text-align: center;
	width: 100%;
	background-color: #1b2a49;
	box-sizing: border-box;
	float:left;
}

.imgpas,#imgpas {
	border-radius: 50px;
	width:100%;
}


.textbienvenido {
	float: left;
	text-align: center;
	background-color: #c9d1d3;
	width: 100%;
	box-sizing: border-box;
}

.servicio {
	width: 100%;
	background-color: #00909e;
	box-sizing: border-box;
}

.carrito {
	width: 100%;
	background-color: #c9d1d3;
	box-sizing: border-box;
}

.vivo {
	background-color: #00909e;
	width: 100%;
	box-sizing: border-box;
}

.predica {
	background-color: gray;
	width: 100%;
	box-sizing: border-box;

}

.actividades {
	background-color: #1b2a30;
	width: 100%;
	box-sizing: border-box;
}


.contacto {
	width: 100%;
	box-sizing: border-box;	
}

.mapa {

	float: left;
	width: 50%;
	box-sizing: border-box;

}

.formulario {
	float: left;
	width: 50%;
	box-sizing: border-box;
	text-align: center;
	border-radius: 20px;
}

#nombre, #correo, #asunto, #telefono {
	width: 80%;
}

textarea {
	text-align: center;
	border-radius: 20px;
	width: 80%;
	height: 40%;
 }

 input {
 	width: 80%;
 	height: 20%;
	text-align: center;
	box-sizing: border-box;
	border-radius: 20px;

}
#enviar {
	width: 40%;
	height: 20%;
}

.redes {
	background-color: yellow;
	width: 100%;
	margin: auto;
	padding: 0;
	box-sizing: border-box;
	display: inline-block;
}

.footer {
	box-sizing: border-box;
	text-align: center;
	width: 100%;
	margin: auto;
	padding: 0;
	background-color: gray;
}

.contenedor {

	margin: auto;
	padding: 0px;
	width: 100%;
	box-sizing: border-box;
}

.contenedor {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

@media screen and (max-width: 600px){
	.slider {
		display: none;
	}

	.slider .caption h1{
		font-size: 35px;
	}

	.left, .right{
		font-size: 30px;
	}

	.slider li img{
		width: 600px;
	}

	.pagination{
		display: none;
	}
}

@media screen and (max-width: 2028px) {

	.contenedor {

		width: 100%;
	}

	.cbien {
		width: 100%;
	}

	.mapa, .formulario {
		width: 50%;
		margin: auto;
	}

	.bienvenido, .textbienvenido {
		width: 50%;
		margin: auto;
	}
}

@media screen and (max-width: 1024px) {

	.contenedor {
		width: 100%;
	}

}


@media screen and (max-width: 450px){

	.contenedor{
		width: 100%;
		margin: auto;
	}

	.mapa, .formulario {
		width: 100%;
		margin:auto;
		display: flex;
	}

	.bienvenido, .textbienvenido {
		width: 100%;
		margin: auto;
	} 
	
}
